[2014-07-28 17:37] wjrgoiwrgiweg opened #1 "Example Issue"
Hi, my server is not working, here is what happens:

_insert_

[2014-07-28 17:39] #1 closed, assigned to nobody

[2014-08-19 17:01] peraldon opened #2 "Ability to tick ALL boxes when creating a Permission Group"
Quite annoying to have to tick a majority of all of the boxes. Can we have a button that toggles all of them on or off?

[2014-08-19 17:02] peraldon opened #3 "Grammar mistake in 'Add Account'"
No spaces between the 2 field names 'First name' and 'Last name'

[2014-08-19 17:05] peraldon opened #4 "Cannot add new user 'Sorry, this email already exists.'"
The user already has an account etc, but I want them to have access to the network on this license. Maybe a Buycraft setup of choosing accounts upon login would work?

[2014-08-19 17:10] peraldon opened #5 "Ping time wrong"
Just added as server; said it last pinged 44 years and 8 months ago.

[2014-08-19 17:19] peraldon opened #6 "Webpanel Console displaying messages twice"
The panel sometimes displays the messages twice.
[13:18:30] [Server thread/INFO]: PeterKramer: HELLO WEBPANEL
[13:18:30] [Server thread/INFO]: PeterKramer: HELLO WEBPANEL

Looking in ingame chat, the user got an achievement at the same time; may just be a co-incidence though.

[2014-08-19 17:21] peraldon opened #7 "Hardware Allocation and usage not working"
The CPU and RAM usage as well as the allocated RAM is not displaying correctly. (As in, at all)

[2014-08-19 17:31] peraldon opened #8 "This is just too damn amazing"
This needs to be less amazing because it's too amazing. Multicraft et al will have no way in high hell to even start to beat this.

[2014-08-19 19:18] #5 closed, assigned to nobody

[2014-08-19 19:25] #3 closed, assigned to nobody

[2014-08-19 19:27] #6 closed, assigned to nobody

[2014-08-19 19:28] #8 closed, assigned to nobody

[2014-08-20 10:32] seanryy opened #9 "Register Laggy as Hell"
Registering is laggy as hell. That is all. plsfix.

[2014-08-20 14:38] #9 closed, assigned to nobody

[2014-08-27 14:39] TunkDesign opened #10 "Update 1.4.2a"
## Wrapper update 1.4.2a includes the following changes:
1. Removed timeout wrapper had on linux when restarting.
2. Fixed panel -> wrapper authentication not working properly with keys.
3. Wrapper now knows if you're a tester or not.
4. World management added. Shown for testers.
5. Configuration management added. Shown for testers.
6. Changing server port via the configuration tab will change ser

[2014-08-28 17:11] #10 closed, assigned to nobody

[2014-09-06 03:18] Zendrex opened #11 "Cauldron / MCPC Fail to start up. (Extra Params Too)"
Well with the listed .ini confiruation below, I cant seem to get Cauldron / MCPC to work. The console stays black and the wrapper in ssh changes not untill I close the server which results in the error below. This could be my error, but I am not sure the initial cause of this other then requirements not set by NeMa. I can get it working on ssh, but the wrapper makes it a no-go.

Attempted pack: Yo

[2014-09-07 08:49] Zendrex opened #12 "Spigot MaxPermGen Error (Arg no fix)"
Well I messed with the wrapper with spigot, and by default spigot needs a permgen size of 128, as the spigot option with the brand does not fix it and the extra args that can be set wont fix it, I shall report this as a bug.

This is what spigot gives by default when using setup parameters.

java -Xms512M -Xmx1536M -XX:MaxPermSize=128M -jar spigot.jar
pause

What I have set in my ini file:

[Wrapp

[2014-10-08 13:15] TunkDesign opened #13 "Update 1.4.3a"
## Wrapper update 1.4.3a includes the following changes:
1. Cauldron support added
2. Fixed custom arguments not being applied correctly
3. Verify panel SSL certificate
4. If wrapper was unable to find jarfile, show error and tell panel to stop server
5. Fixed panel stopped fetching from wrapper if a large amount of data is transmitted.
6. Fixed wrapper first setup crashing.

[2014-10-08 13:16] #11 closed, assigned to nobody

[2014-10-08 13:17] #12 closed, assigned to nobody

[2014-10-08 13:17] #13 closed, assigned to nobody

[2015-07-04 13:24] TunkDesign commented on #2
This has now been fixed by grouping permission blocks. Much easier to manage this way.
![Results](http://i.imgur.com/mP92h6p.png)

[2015-07-04 13:24] #2 closed

[2015-07-04 13:39] TunkDesign commented on #7
This was fixed a while back when rewriting the wrapper.
![Results](http://i.imgur.com/sjy16sW.png)

[2015-07-04 13:39] #7 closed

[2015-08-29 12:51] #4 closed

[2016-01-21 03:17] Zangoran opened #14 "Wheres the download?"
How much longer until the release? This looks really cool and a lot better than all the other web consoles I seen. Please get this out soon!

[2016-01-21 07:07] TunkDesign commented on #14
That's a really good question, and I'll be glad to answer it!

While I can't give you a guaranteed date right now, I can tell you that we're not far away. We are currently in the process of going through everything and making sure everything works. And we're almost done with that.

After going through everything, we'll try to go public right away. Even if it is for a beta! We believe in NeManager!

[2016-01-21 13:36] Zangoran commented on #14
Thanks for the quick response! I will be looking forward to this! I was not expecting a quick response! Thanks!

[2016-01-21 13:50] Zangoran commented on #14
@TunkDesign Do you think I would be able to be on the beta team when it comes out? Thanks!

[2016-01-21 14:12] TunkDesign commented on #14
@Zangoran that shouldn't be a problem at all! I am pretty sure we'll have an open beta, but if we do a closed one, we will be sure to include you!

[2016-01-21 18:17] Zangoran commented on #14
@TunkDesign Sorry for all the questions but, under the releases tab there are some downloads. Do those work? If so do I just follow the installation instructions? Thanks for your time!

[2016-01-21 18:21] TunkDesign commented on #14
No worries at all. No, sorry, it does not work with only the executable you can find inside this repository. You will need to have access to a panel as well!

[2016-01-21 18:29] Zangoran commented on #14
@TunkDesign Ok, so when it is released there will be steps on how to download and install everything together? Thanks for your time!

[2016-01-22 12:33] TunkDesign commented on #14
@Zangoran, sorry for the slow reply! Yes, that's correct!

[2016-02-14 02:58] Zangoran commented on #14
@TunkDesign Do you have a approximate release date? Like a certain month? This year? Thanks!

[2016-02-14 09:14] TunkDesign commented on #14
@Zangoran, reaaally hard to say. I can't give you an exact date though. You fix one thing, and another thing breaks. There's a few things that needs to be fixed with the wrapper/daemon part of NeManager before we can go public. I want to say before the summer. I can't promise anything though, sorry :(

[2016-02-14 18:14] Zangoran commented on #14
@TunkDesign Thanks! Its ok, take as long as you need. I just wanted a approximate date. And you gave me one. Thanks you for you time!

[2016-03-23 23:08] Zangoran commented on #14
@TunkDesign How's it coming? Are you still predicting before summer? If not, how long do you think? Thanks for you time!

[2016-03-24 05:38] TunkDesign commented on #14
@Zangoran Everything is going better than planned. Will probably be ready before summer now. Going to go though to see what needs to be done, this weekend!

[2016-03-24 20:59] Zangoran commented on #14
@TunkDesign Great! Thanks for your replies!

[2016-05-10 22:01] Zangoran commented on #14
@TunkDesign Summer is coming around. No rush, but I am just wondering of the status. Thanks for all your time!

[2016-05-12 07:13] TunkDesign commented on #14
@Zangoran Sorry for the late response! The control panel is ready for a beta, we just need to fix the main website a bit, then we're good to go!

[2016-05-12 14:17] Zangoran commented on #14
@TunkDesign Awesome! Would I be able to partake in the beta? Also will there be a tutorials not how to setup and use? Thanks again!

[2016-05-12 14:45] TunkDesign commented on #14
@Zangoran Sure! We're going to make the beta open to everyone, so we can gather as much data as possible! There will be quite a few guides and tutorials to help you get started!

[2016-05-12 15:14] Zangoran commented on #14
@TunkDesign Awesome! Do you have a release date of the beta? Or if you don't have a date set, could you message me when it is released? Thanks!

[2016-05-15 07:20] TunkDesign commented on #14
@Zangoran I don't have a date as of yet, but I will make sure to let you know :)

[2016-05-31 18:27] Zangoran commented on #14
@TunkDesign I saw the website, nemanager.com. I saw that the pro version will be free for beta. I was wondering if I partake in beta, if it will be free for me forever. Because my server doesn't have a steady income to afford $8 a month. Also is the beta coming soon?

[2016-06-01 19:28] TunkDesign commented on #14
@Zangoran Sorry but the free pro version won't stay when the beta has ended. All accounts will get reset and people need to purchase a license. The $8 price tag isn't set in stone, and will change if people think it's too much.

The beta should be coming before the end of this week. We have everything ready.

[2016-06-01 20:00] Zangoran commented on #14
@TunkDesign Ok, Cool that the beta coming soon. I am thinking that $8 a
month is a little to much. I was thinking that you could

On Wednesday, June 1, 2016, Karl Håkansson <notifications@github.com> wrote:

--

*Zach Landquist *

   -CEO-

         of

  ZachMan Co.

ZachMan Co. is not a real business.

*E-mail: *zach@landquist.net

*Phone:* 262-290-3293

-----------------------------------------

[2016-06-01 20:03] Zangoran commented on #14
@TunkDesign Ok, Cool that the beta coming soon. I am thinking that $8 a
month is a little to much. I was thinking that you could make it a yearly subscription for like $8 or something. How much is it costing to that you need to make a profit. I would make it so that you make a very small profit and then as you grow bigger raise the price slowly. That's just my opinion.

[2016-06-04 16:02] TunkDesign commented on #14
@Zangoran The beta is now live. We will get a few instuctional videos up as soon as possible to help people get set up. In the meantime, hope you enjoy NeManager! If you need more help, please don't hesitate to ask in a new thread. Thanks :)

[2016-06-04 16:02] #14 closed

[2016-06-04 16:05] Zangoran commented on #14
@tunkdesign Thanks so much!

[2016-06-09 22:31] Brandonv101 opened #15 "Question about the server wrappper"
Hi there,

I would like to know if this would remove any of my existing files because I am currently using a .bat file to run the server.

Thanks,
Brandon

[2016-06-10 03:21] TunkDesign commented on #15
Hey @Brandonv101! NeManager doesn't remove any files unless you perform an action that is made to remove files, although these actions do have pop-ups letting you know what you're doing before actually doing them. You need to click twice to remove something.

That being said, you should always keep backups. NeManager can generate backups for you.

[2016-06-12 07:49] doublej93 opened #16 "Could not connect to the wrapper. (111)"
I know this is due to my lack of Linux knowledge, but I followed the tutorial, everything is running fine, except I'm getting the error "Could not connect to the wrapper. (111)"

 I'm using an OVH VPS, just did a clean install of CentOS7.

I didn't set any special port so I assumed it as 20000. That didnt work. I looked in Netstat and I see this
unix  2      [ ACC ]     STREAM     LISTENING     20

[2016-06-12 08:28] TunkDesign commented on #16
Hey @doublej93! Let's see if we can solve this.

It sounds like a firewall issue. The 111 error indicates that the connection was refused, but didn't time-out. We could contact your OVH VPS but we could not complete the request.

As you didn't change the port, it should be 20000. Let's see if adding it to the firewall will solve your issue!

To open the port use the following command:
`firewall-cm

[2016-06-12 08:31] #15 closed

[2016-06-13 01:38] DionisR3 opened #17 "Could not connect to the wrapper. (110) (Windows 10)"
I did everything true everything was default, i wrote my public ip to Host andd it isnt worked. It gives the error in title. I'm running windows 10.

[2016-06-13 02:33] TunkDesign commented on #17
Hey @DionisR3!

It seems that we timed out during the connection request to your computer. It sounds like it could possibly be your router blocking the port. Try opening the port and get back to me with the results 😃

After you've made sure it is open, try this website: http://www.canyouseeme.org

[2016-06-13 19:07] doublej93 commented on #16
I get the following response.

[root@vps83712 ~]# firewall-cmd --permanent --zone=public --add-port=20000/tcp
-bash: firewall-cmd: command not found

For whatever reason when I install CentOS7 that feature is not there. Maybe removed by my VPS provider.

I did manually map it to port 80 (which I knew had to be open) and it worked! This at least lets me know I've got the setup right, but I might ha

[2016-06-14 06:15] daemonus opened #18 "settings > system > logs missing menu options"
When viewing logs under settings menu links Accounts, Groups and About are missing from the left.
![bug](https://cloud.githubusercontent.com/assets/3434116/16032731/faa04266-325b-11e6-904a-6ed90e4043ea.png)

[2016-06-14 16:02] TunkDesign commented on #16
Yeah, it is probably better to contact OVH to see if they can solve the port issue. Glad it worked though!

NeManager was made to release the port if closed. You can force close NeManager with CTRL + C, and it should release the port.

[2016-06-14 16:32] TunkDesign commented on #18
This was actually an intended feature, believe it or not!

Although, we have now added the missing pages to the Logs page, as requested :)

[2016-06-14 16:32] #18 closed

[2016-06-16 05:48] bigdogpete opened #19 "Cannot Create Jar File on Server creation."
I accidently put the jar file in the wrong folder. I fixed the issue but created 4 phantom servers in the process. The problem is that you cannot just go in and delete the folder. The wrapper will not start. I got it to start by mkdir whatever the directory name was. I am unable to figure out how to delete the remnant servers from the server. The log says it is reverting changes but it does not se

[2016-06-16 06:16] bigdogpete opened #20 "Trying to start server issue."
When entering the server from the dashboard to start the server. I get a lost connectivity. Then I get a message that says " Still Connecting, It's taking longer than expected."  and just sits there. I actually let it sit overnight and it was still the same when I got up in the morning.

I tested all the ports after I started the server manually. (This is the .jar that NeMa created.) All the ports

[2016-06-16 17:35] daemonus commented on #20
No solution sorry but I can confirm that I am having the exact same issue as you.

[2016-06-16 17:42] TunkDesign commented on #20
Sorry for the late response. If you could please leave the wrapper on, over the next few days, so I can do some troubleshooting, that'd be wonderful. I will get back to you as soon as possible!

[2016-06-16 17:48] TunkDesign commented on #19
If you don't want to start over, you can use a Sqlite database editor to modify your wrapper database file.

Thank you for the error log! I will look into why this is happening!

[2016-06-16 21:15] bigdogpete commented on #20
I will leave it on. Saturday they are having a power outage. I will get it back online as soon as that is completed.

[2016-06-17 00:44] bigdogpete commented on #19
Just for clarification. That is the file nema.db in the DATA folder?

[2016-06-17 02:15] TunkDesign commented on #19
That's correct! :)

[2016-06-17 04:16] daemonus commented on #19
I had this issue as well!

Two ways to reproduce:

**Method 1 - By deleting the server folder when the wrapper is not running.**

1. - Create a server in the panel
2. - Stop Wrapper
3. - Delete the folder created on the server by wrapper
4. - Restart Wrapper
5. - Wrapper crashed with error message. *

**Method 2 - By having no server jars in the jars folder when you try to create a server.**
(I ha

[2016-06-18 07:07] TunkDesign commented on #19
@daemonus I really appreciate your detailed bug report! I will use that information to hopefully find a fix today!

[2016-06-18 14:21] bigdogpete commented on #20
Wrapper back up. Still having problem.

[2016-06-18 14:26] TunkDesign commented on #20
@bigdogpete I will now temporarily move the wrapper to a testing environment to try and find the issue. Please keep it running.

[2016-06-18 14:32] bigdogpete commented on #20
Will do.

[2016-06-18 15:01] TunkDesign commented on #20
I have now checked the connection to the wrapper multiple times (as you might see in the wrapper console window). I've checked it on different connections, in different environments and with throttled connections. Everything worked just fine, which is odd.

I will need some more information to search deeper. What's your operating system, internet browser and internet connection speed?

Sorry for t

[2016-06-18 15:19] daemonus commented on #20
Im hosting on windows 10 using latest firefox to view panel. Internet speed
heres something like 1-2 megs/sec down and around 500kbps up. Everything
with the wrapper works fine, creating a server etc so I doubt its to do
with os, browser or internet speed.

If you need it I can give you remote access to my server to diagnose the
issue
On Jun 19, 2016 3:01 AM, "Karl Håkansson" <notifications@github

[2016-06-18 16:07] bigdogpete commented on #20
CENTOS 7 X64 Build 1511. Firefox 45.2 (on the server)   or Chrome 51.0.2704.103 m (on my Rig).

Depends but about 8 Mb/s up and 4 Mb/s Down.

[2016-06-18 18:55] bigdogpete commented on #20
I created a test server on the server named BigdogpeteTEST. In case you need to start one. I apologize that I was on it while you were testing.

[2016-06-18 19:13] TunkDesign commented on #19
These issues should now be resolved in the latest release (_v2.1.1_) :)

[2016-06-18 19:13] #19 closed

[2016-06-18 19:18] TunkDesign commented on #20
@bigdogpete If you could accept the EULA, that would be awesome :)

[2016-06-18 19:21] bigdogpete commented on #20
Houston I figured out what the problem is but I don't know how to go about fixing it.
My Public address is an address outside my network. When trying to open the panel it asked my browser to go to ws://name-of-server.com:20000. This resulted in a connection refused.

When I ran up my phone as a hotspot and connected with my laptop I was right in. I used the console on chrome.

[2016-06-18 19:22] bigdogpete commented on #20
EULA Accepted!

[2016-06-18 19:25] TunkDesign commented on #20
Thanks for accepting the EULA. I'll run a few tests, to make sure everything is working!

Glad you found the issue. It seemed like something out of my control, and it looks like that's the case! I see the .us address you are using, and it could be the cause. I'll do some research :)

[2016-06-18 19:28] bigdogpete commented on #20
It is a DYNDNS address and then I have port forwarding on my ISP router.

I am going to try to do an alternate address in the server area. Will let you know.

[2016-06-18 19:31] TunkDesign commented on #20
Do you want me to move the wrapper to your panel again? It is currently in my testing environment hahah

[2016-06-18 19:31] bigdogpete commented on #20
Yes let me try something and then I will hand back off to you.

[2016-06-18 19:32] TunkDesign commented on #20
There you go :)

[2016-06-18 19:40] bigdogpete commented on #20
Ok back to you. I do not know why you cannot reach 20021.

My thought was to put the local IP as additional IP in the Wrapper settings. But the code on the panel page only allows us to try the first one. Perhaps you could add something in the code to try the secondary IP if the first one fails. Then let users know that if they have it in this config to add their local IP addresses to the additiona

[2016-06-18 19:42] bigdogpete commented on #20
Sorry

DOMException: Blocked a frame with origin "https://www.youtube-nocookie.com" from accessing a cross-origin frame.(…)
server.js:1 [NEMA] Setting up connection variables..
server.js:1 [NEMA] Initiating WebSocket..
server.js:1 [NEMA] Connecting to server..
server.js:1 WebSocket connection to 'ws://bigdogpetemc01.land-4-sale.us:20000/' failed: Error in connection establishment: net::ERR_CONNECT

[2016-06-18 20:01] TunkDesign commented on #20
Do you have the ports forwarded with the both TCP **and** UDP protocol? If not, try setting it to use both then try connecting to the server again.

[2016-06-18 20:11] melerpe opened #21 "When i started the wrapper it gave an error"
It gave this error

`Traceback (most recent call last):
  File "<string>", line 56, in <module>
  File "/TunkDesign/Build/NeMa/build/NeMa/out00-PYZ.pyz/scripts.filemanager", line 113, in start
AttributeError: type object '_socketobject' has no attribute 'SOL_SOCKET'

`

[2016-06-18 20:13] melerpe commented on #21
More info:
First time use/installment

[2016-06-18 20:27] TunkDesign commented on #21
This should now be resolved in the latest release (v2.1.2)! Sorry for the inconvenience!

[2016-06-18 20:27] #21 closed

[2016-06-18 21:48] daemonus commented on #20
Make sure you forward both the router and any software firewalls as well, I
had issues because I forgot to forward in windows firewall.

Re domain name, I am also using dynamic dns. We need it to go to localip if
run locally and external domain if run remotely, this should be possible, i
know how to code it in c# but thats not much use to ya :(
On Jun 19, 2016 8:01 AM, "Karl Håkansson" <notificati

[2016-06-18 21:59] melerpe opened #22 "Crash on server stop"
Hi,
Me with another bugreport
my wrapper begins to do crazy stuff after [23:57:18 INFO]: Saving chunks for level 'world_nether'/Nether
It does half respond
It is there. But it cannot start servers because idk

My acount email is melerpe.habbozz@live.nl

I dont know what is wrong!

[2016-06-19 04:27] bigdogpete commented on #20
Both TCP and UDP are forwarded. Still no joy.

[2016-06-19 04:54] daemonus commented on #20
Do you have the nema.exe equivalent file unblocked in the firewall? Not
sure if cent has this concept but basically I forward the ports and allow
the exe to communicate as well. With just the ports forwarded and the exe
not unblocked my ports still appear closed.
On Jun 19, 2016 4:27 PM, "bigdogpete" <notifications@github.com> wrote:

[2016-06-19 06:04] bigdogpete commented on #20
The firewall on CENTOS does not work like that. It isn't a application firewall. Also I tested my ports to make sure they were open correctly.

[2016-06-19 08:27] TunkDesign commented on #22
Hey @melerpe! Could you please paste the contents of the NeMa.log file?

[2016-06-19 08:53] melerpe commented on #22
LOG: http://pastebin.com/ppfkueVq
I dont see any errors

[2016-06-20 04:13] bigdogpete commented on #20
FTP ISSUE LOG
[1767 | INFO | 18/06/2016 07:51:57 PM] 213.114.143.127:53403-[] FTP session opened (connect)
[1612 | INFO | 18/06/2016 07:51:57 PM] [FTP] 213.114.143.127 connected on port 53403
[1775 | DEBUG | 18/06/2016 07:51:57 PM] 213.114.143.127:53403-[] -> 220 This server is proudly powered by https://nemanager.com/
[1775 | DEBUG | 18/06/2016 07:51:57 PM] 213.114.143.127:53403-[] <- AUTH TLS
[1

[2016-06-20 06:10] bigdogpete commented on #20
Panel Issue: I tried it at work too. It also failed. I think the problem arises that the site is not truly proxying the ws: traffic. It is actually coming from your computer. It does not try to connect on a secondary IP.

[2016-06-20 07:24] TunkDesign commented on #20
@bigdogpete Alright! I'll take a good look at the client side code when I get home!

[2016-06-21 04:53] B3H1NDu commented on #16
Hey there, I am having the same problem as doublej93 except on Ubuntu. First I tried `firewall-cmd --permanent --zone=public --add-port=20000/tcp` to find it wasnt installed so I left it and did a quick google search, I then ran `sudo ufw enable` and `sudo ufw allow 20000` then `sudo ufw status` gave me positive results but I still got the error so then I ran `sudo apt install firewalld` and then

[2016-06-21 20:20] B3H1NDu opened #23 "Failed to update FTP server. Check wrapper log for more info!"
Logs: http://hastebin.com/yezubicula.vbs
The problem seems to be:
[code]
I've tried to look for the files but no luck.

I am running Ubuntu 16.04 LTS (not server edition)

I have tried everything, restarting, using different browsers and computers to access the webpanel and ssh from but nothing seems to be working.

I hope you can help me :)

[2016-06-21 21:20] dedo1911 commented on #23
I'm having the same issue, on the same Ubuntu version.

[2016-06-21 22:26] dedo1911 commented on #23
I've reinstalled and changed to CentOS 7 and problem is gone.

[2016-06-21 23:12] dedo1911 opened #24 "Cannot manage server"
I've just press "reboot" then my server is stuck with this message:

Debug(Empty read; connection dead? Stream state: {"stream_type":"tcp_socket\/ssl","mode":"r+","unread_bytes":0,"seekable":false,"timed_out":false,"blocked":true,"eof":true})

Can't do anything.

[2016-06-21 23:36] B3H1NDu commented on #23
Yea, there is a required package which is missing probably.

[2016-06-22 17:47] TunkDesign commented on #24
Could you please let me know if any errors has been logged, and if so, paste the log here? (NeMa.log)

[2016-06-22 17:48] TunkDesign commented on #22
Sorry for the late reply!

Could you please try starting doing the same thing without any plugins enabled?

[2016-06-22 17:51] TunkDesign commented on #17
I will take the silence as "it worked" and close this issue. If you still have issues, please reopen it.

[2016-06-22 17:51] #17 closed

[2016-06-22 17:52] TunkDesign commented on #23
I haven't tried running it on Ubuntu for quite a while, so I will do some debugging this weekend to see if anything is missing!

[2016-06-22 20:45] dedo1911 commented on #24
No errors at all. Just the website bugged.

[2016-06-22 20:56] melerpe commented on #22
I will make a second test server with 512mb ram

[2016-06-24 03:17] daemonus commented on #24
I was getting a similar message in relation to [Issue#20](https://github.com/TunkDesign/NeMa/issues/20)

[2016-06-24 03:21] daemonus opened #25 "Website icons served over http on secure connection"
Don't know if this is the correct place but just noticed the icons on https://nemanager.com/ do not show up over SSL, I get firefox has blocked insecure elements.

[2016-06-24 09:14] TunkDesign commented on #25
Seeing as we use the same server as the company website is on, for the NeManager website, https isn't a thing yet for it. What you're seeing when visiting the NeManager website through https, is the very outdated company website. We're going to move the NeManager website to its own server soon. As the Beta is free, we don't get any money to pay for everything, so we use what we already have. (Exce

[2016-06-24 09:14] #25 closed

[2016-06-24 09:20] daemonus commented on #25
No worries :) flicked over to http after posting and saw the new one ;)

On Jun 24, 2016 9:14 PM, "Karl Håkansson" <notifications@github.com> wrote:

[2016-06-30 00:43] B3H1NDu commented on #23
Any progress? Anything I can do to help?

[2016-07-01 19:32] melerpe opened #26 "I got an error"

[2016-07-01 20:43] B3H1NDu commented on #26
I'm going to ask you these questions so trunkdesign doesn't have to. What operating system are you running and what did you do leading up to the error, and what were you trying to achieve?

[2016-07-02 06:19] melerpe commented on #26
Centos 6.
Just starting a server.

[2016-07-02 17:00] TunkDesign commented on #23
@B3H1NDu I am really sorry! I know I said I would look at it 10 days ago, but I just haven't had the time. I am doing during my free time, which is kind of limited at the moment due to family issues. (I won't go into detail)
Something happened that weekend, and I haven't gotten around to do anything. I can't promise anything, but I'll take a look at it as soon as possible. **Really** sorry!

[2016-07-02 17:02] TunkDesign commented on #26
Thank you for the traceback. I will see if I can find the cause and get back to you asap! Sorry for the inconvenience!

[2016-07-02 17:06] TunkDesign commented on #26
Just out of curiosity, does the log file say anything? It would help a tonne!

[2016-07-02 20:45] B3H1NDu commented on #23
No problem man! Hope your family stuff gets resolved and keep up the good work!

[2016-07-07 02:02] jpoulin opened #27 "Can't add a wrapper"
I'm getting a "too many redirects" error when I try to add a wrapper to my account.
<img width="613" alt="screen shot 2016-07-06 at 9 59 37 pm" src="https://cloud.githubusercontent.com/assets/2213372/16640361/59af9fca-43c5-11e6-8a49-60fa401b0088.png">

[2016-07-07 03:04] TunkDesign commented on #27
Thank you for the report! It seems like I configured something wrong when I renewed the ssl certificate. It should work now :)

[2016-07-07 17:16] #27 closed

[2016-07-08 13:35] ToxicStar-Kevin opened #28 "AWS Server - Ubuntu 14 - Issues launching wrapper - command not found"
Gents,

Newbie question.  Apologies learning AWS, Linux and Minecraft all at once. I have Minecraft working but now want to manage it via the GUI hence I'm trying your application. I want to remote manage the Minecraft server in AWS (not a fan of line commands) but failing at the the first hurdle.
.
I assume I'm doing something stupid as I follow the clear instructions on the wiki for the server w

[2016-07-08 20:37] B3H1NDu commented on #28
Follow the guide in the wiki.

Here: https://github.com/TunkDesign/NeMa/wiki/Getting-Started

[2016-07-08 20:40] B3H1NDu commented on #28
Have you tried `sudo chown USER * -R`? In the SS you provided it seems to be the only thing you didn't do.

[2016-07-09 09:12] ToxicStar-Kevin commented on #28
I had with Ubuntu substituted as I assumed the "USER" was the one i was assigned in.
I can give it another go tomorrow if you think that is the root cause but I did repeat the instructions a few times since they seemed straight forward enough

[2016-07-10 17:40] TunkDesign commented on #28
This is really weird. You did change the NeMa file to an executable, so it should work.

Try running it with `/bin/bash ./NeMa`

[2016-07-16 16:20] #16 closed

[2016-07-16 16:42] TunkDesign commented on #23
@B3H1NDu I finally got some time to look at this and I found the issue. The FTP server needs to stop in order for NeManager to add a server, and to do that I tell it to stop before the adding, then start again when the server has been added. The issue here was that it wasn't turned on again because it failed somewhere during the server creation process. This should be fixed in the next release :)

[2016-07-16 16:44] TunkDesign commented on #22
I will take the silence as a "it worked", and close this issue. Please open this again if the error persists.

[2016-07-16 16:44] #22 closed

[2016-07-17 18:10] TunkDesign commented on #23
This issue should be fixed in the latest release :) (https://github.com/TunkDesign/NeMa/releases/tag/v2.1.3)

[2016-07-17 18:10] #23 closed

[2016-07-22 13:23] ToxicStar-Kevin commented on #28
Sorry there work and family getting in the way of my person hobbies.

Still no joy... at a lose as I can see the file and "less" it even though it is a binary.  Permissions and ownership seems correct it just doesn't run.

The underlining PocketMine PE is working fine.

any suggestion on what to look at?

ubuntu@ip-172-31-25-168:~$ /bin/bash ./NeMa
./NeMa: ./NeMa: cannot execute binary file
ubuntu

[2016-07-22 21:11] smallkitten opened #29 "Multiple Users Adding Wrapper?"
I would just like to say that I really like what you are doing here with this program. It has really made managing my servers much easier.

Really I have a question rather that a bug or problem: is it possible to have a wrapper running on a computer with its own specific key, and give friends with thair own accounts the key to the wrapper so that they can manage their own servers?

Sincerely,

[2016-07-23 10:12] TunkDesign commented on #28
Really weird. I need to try it for myself. I see that you're using Ubuntu 14.04.4, is that correct? Is it the desktop or server version?

[2016-07-23 10:17] TunkDesign commented on #29
Thank you for those kind words!

So, to clarify, you're asking if it is possible to have user specific wrappers/servers?
That isn't possible per se, although you can achieve something like this with group permissions!
Create a server, create a permission group and set that group to only be able to access that server. After you've done that, assign a user to that group. You can have as many permiss

[2016-07-23 12:09] smallkitten commented on #29
That sort of is it. :}

I was asking if I could just give the key of my wrapper to my friends with their own accounts so they can manage their servers.

I think what you said above would work but is that a pro thing?

Also, have you had any problems wth Pixelmon servers frequently crashing?

Thank you for the quick reply!
        -Owen

[2016-07-23 15:58] smallkitten commented on #29
Also, I know on your site that you say that the price is subject to change if the community haggles you down. :} I don't want to haggle you down, but if you had an option to just pay a flat out price (I.E $30 or something once) I would totally pay for it. I can't really do monthly... :}

It's just a thought, I don't want to tell you how to run your company, and I sure you have your reasons for the

[2016-07-23 17:26] TunkDesign commented on #29
That isn't possible as of right now. I may look into it down the line, but as I said, you can achieve something like that, in the meantime :)

It is a pro thing! However, you can get it for free during the beta period :D
See https://github.com/TunkDesign/NeMa/wiki/Open-Beta#more-features on how to upgrade your panel!

I haven't gotten any reports of it not working, but I haven't gotten any reports

[2016-07-23 17:42] smallkitten commented on #29
Alright! Thanks for the reply!

That answers all of my questions at the moment.

Just one more thing: when NeManager leaves beta will I get a notification? I just don't want to suddenly be charged every month, that's all. Or possibly make a payment! :}

Thanks for your patience and the straightforward reply!
-Owen

[2016-07-23 17:47] TunkDesign commented on #29
You're not entering any real information when upgrading your panel, so so we can't charge you :)
But we will make sure to notify you before the beta ends :D

[2016-07-23 17:48] smallkitten commented on #29
Ok, thanks!
-Owen

[2016-07-23 17:54] smallkitten commented on #29
Ok, so I just tried to add a friend who made an account to the Accounts tab. However, it says: Sorry this email is already in use

Is he not supposed to have an account?

Thanks,
-Owen

[2016-07-23 17:56] TunkDesign commented on #29
Aaah, he shouldn't have created an account of his own. Instead you're inviting him to your panel!
I need to clarify that somewhere.. I can remove his account from the system if you want?

[2016-07-23 17:59] smallkitten commented on #29
Sure, do you need their email?

If so, here it is: eloymilan2003@gmail.com

Thanks for all of your help!
-Owen

[2016-07-23 18:08] TunkDesign commented on #29
There you go :) He should be removed from the system!
Now just add him to your panel by visiting this link https://panel.nemanager.com/add/user

[2016-07-23 18:19] smallkitten commented on #29
Alright! Everything is working perfectly!

Thanks again for all of your help!

I await the end of beta.
-Owen

[2016-07-24 06:05] TunkDesign commented on #29
No worries Owen! Hope you enjoy using NeManager!

If you have any other questions/issues, let me know by submitting another issue :)

[2016-07-24 06:05] #29 closed

[2016-07-28 05:54] LordMantil commented on #28
Did you get this resolved? I'm having the same issue on ubuntu

[2016-07-28 06:56] TunkDesign commented on #28
@LordMantil I need more information to do the testing! What Ubuntu version are you using (desktop or server)?

[2016-07-28 06:58] LordMantil commented on #28
Hey, I thought I'd post my solution as I got it working.

You need to install the 32x libraries for Ubuntu if you are running 64x

sudo dpkg --add-architecture i386
sudo apt-get update
sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386 zlib1g:i386

[2016-07-28 07:04] ToxicStar-Kevin commented on #28
Ubuntu 14.04.4 LTS (GNU/Linux 3.13.0-74-generic x86_64)
Running PHP 7 and Java 8

Ok I will give that a go as I'm running the default 64x from AWS images.

[2016-07-30 20:32] ToxicStar-Kevin commented on #28
The addition of 32x libraries worked... I was able to connect to the wrapper... so i assume going forward the app can be tweaked to also work with 64x only ?

[2016-07-31 11:50] ToxicStar-Kevin opened #30 "AWS Server - Ubuntu 14 - Failed to bind to port"
**NeManager Wrapper - Version 2.1.3**

Trying to start the Minecraft server now I have got he wrapper working.

Once through the EULA flag change I ran into an issue with the port... I have confirmed the port is open etc in the AWS security group.
I have built a clean new Ubuntu 14.04 (added x32 libraries) and followed the wiki instructions.
I did stop and start the server but that did not help ei

[2016-07-31 12:05] TunkDesign commented on #30
If you allow me, I will move your server into a temporary environment to do some debugging to find out why it is not binding the port.

[2016-07-31 12:08] TunkDesign commented on #28
@LordMantil thank you for the solution! I will make sure to add that to the Wiki page and credit you. I'll see if I can include those libraries somehow in upcoming builds.

[2016-07-31 12:08] #28 closed

[2016-07-31 13:51] ToxicStar-Kevin commented on #30
No problem... still in the process of learning how it will work.
I have restarted the AWS server and used "screen -S" to keep the NeMa session going for you once I have logged out of putty.  I checked the behaviour is still the same and wrapper is working for you before replying.
Feel free to do whatever you need. It is all vanilla at this point and simple to rebuild.

[2016-07-31 13:53] TunkDesign commented on #30
Thank you! You will notice your wrapper disappearing from your panel. I will let you know when I move it back :)

[2016-07-31 13:59] ToxicStar-Kevin opened #31 "Autostart script - support"
Hi,

I ultimately want to have the service and the associated worlds start automatically when I boot the server.

I have being doing this will a shell script in the Ubuntu boot cycle but cannot see an relevant information in the wiki on how to start and just importantly gracefully close NeMa.

Any guidance is welcomed.

Regards
Kevin

[2016-07-31 14:03] ToxicStar-Kevin commented on #30
No worry I will departing on my commute to work so so you should have a few days to play.  I will try and track the updates.

[2016-07-31 14:09] ToxicStar-Kevin opened #32 "Enhancement - Deleting wrapper without the service being active."
Hi,

I could not delete the wrapper connection from the portal when the connected wrapper server was offline.
I started the server in AWS... it connected to wrapper and then I could delete the wrapper to move the service to a new server.

Not a defect precisely but I can see scenarios when the server has been "lost" and someone needs to delete the wrapper association.

One for the thought pot and

[2016-07-31 14:14] TunkDesign commented on #31
There's no real way of doing this yet, but you can do it anyway with a workaround.

If you upgrade your panel to the professional plan (Free during the open beta), you can use the advanced scheduling system we provide. It uses the cron syntax. ([Rundown | Schedule](https://github.com/TunkDesign/NeMa/wiki/Rundown#schedule))

To start servers automatically, just add a task to check if the server is

[2016-07-31 14:20] TunkDesign commented on #30
Found the issue. The server could not bind to your public IP somehow, and therefore it wouldn't start. I changed it to use any interface and it worked (0.0.0.0). Will look into this further later.

[2016-08-04 20:19] ToxicStar-Kevin commented on #30
Restarted the server and wrapper for you.  It is building the world as you promised.  If it is still trowing errors it must a symptom of the problem.

[2016-08-07 17:30] Xean00796 opened #33 "Could not connect to the wrapper. (110)"
I have put my Public IP in and 20000 for the wrapper port and the wrapper key but its says "Could not connect to the wrapper. (110)", can someone help me?

[2016-08-09 01:14] kennedyma opened #34 "(Message) The wrapper this server is running on is out of date..."
Getting the following message on my Dashboard:
 The wrapper this server is running on is out of date. Please consider updating it.

I just downloaded the software today.  Should I just ignore it?

[2016-08-09 17:35] TunkDesign commented on #33
Hey @Xean00796!

It seems that we timed out during the connection request to your computer. It sounds like it could possibly be your router blocking the port. Try opening the port and get back to me with the results 😃

After you've made sure it is open, try this website: http://www.canyouseeme.org

[2016-08-12 19:44] TunkDesign commented on #34
@kennedyma Have you tried restarting the wrapper?
This error message could be one of two things, but as you said you just downloaded NeManager, it can't be that you're using an out of date version. The other, most likely thing, is that something went wrong and you need to restart your wrapper. This error message could show up if the wrapper somehow failed to start completely.

Although that messag

[2016-08-21 09:10] JakeNihilius opened #35 "Connection lost no matter what"
I keep getting the error:
 Connection lost!
Your connection to the server was lost. You are now forced to reload this page.
and a prompt to reload. This is my first time starting up, and i have no clue what is going on.

[2016-08-21 15:38] TunkDesign commented on #35
Hey @JakeNihilius! Does this happen every time you try to access the server control panel?

[2016-09-02 15:39] smallkitten opened #36 "Ip changed; cannot remove old wrapper"
Hi, it's me again!

My public IP has changed so to some rewiring I did. Because of this, it is now saying that NeManager cannot connect to the wrapper. This is completely understandable, as that is has changed, but I cannot find a way to remove this old wrapper and continue on with this new one.

As well as this, I had set up a server on the new wrapper and got it started etc. Later in the day, ho

[2016-09-02 20:23] smallkitten opened #37 "Bug Report"
I have been using NeManager for a little over a month now, and I have thrown some stuff at it. I wanted to write a quick report to let you guys know anything I have noticed. I apologize if you already were aware of some of these issues and this is just extra user stuff to sift through.

For the record, some of these things may be me being a moron, but hopefully not! (Please let me know if so!)
1.

[2016-09-03 11:23] TunkDesign commented on #37
Thank you @smallkitten for the very detailed list of issues!
I will use it to my advantage and try to fix everything asap!

You're certainly not a moron! :)

[2016-09-03 13:00] TunkDesign commented on #36
The way of removing 'old' wrappers are currently broken. I will add that to the list of things to fix, that you gave me :)

I can remove it for you while we wait, just let me know the ID of the wrapper! (Click edit on the wrapper in question and look in the url for the ID)

[2016-09-04 10:48] smallkitten commented on #36
Okay. Thanks for the quick reply, and the kind words! I really do hope
these posts are useful to you. I will try to let you know anything else I
see in the future.

I am unable to find where to click "edit" on the old wrapper; everywhere in
the "servers" tab it just says this: "This wrapper is currently offline!
Click here to reconnect!"

Am I missing something?

Thanks,
-Owen Schwartz

On Sep 3,

[2016-09-25 13:21] Policeboy109 opened #38 "Cant make wrapper"
hey for some reason the wrapper wont create

Could not connect to the wrapper. (110)
I don't have a clue what is happening but ive tried it on 2 different ip's and still dosent work

[2016-09-25 14:21] TunkDesign commented on #38
Hey @Policeboy109!

It seems that we timed out during the connection request to your computer. It sounds like it could possibly be your router blocking the port. Try opening the port and get back to me with the results 😃

After you've made sure it is open, try this website: http://www.canyouseeme.org

[2016-09-25 15:13] TunkDesign commented on #37
Sorry for the late update, but I have now pushed an update to the panel which includes the following updates;

1. Changed internal process to be easier for forgotten password requests.
2. Fixed Two-Factor Authentication pin codes not syncing correctly with auth server.
3. Changed CSRF token error message to be more informative. Includes link to read more.
4. Possible fix for the server connection

[2016-09-25 17:02] Policeboy109 commented on #38
still dont work

[2016-09-25 17:12] TunkDesign commented on #38
I've just tested and made sure adding wrappers still works, and everything works just fine.

Are you sure you've opened the correct port? If you haven't changed any settings it should be port 20000.
http://www.canyouseeme.org should look like this if you've opened it correctly:
![Preview](http://i.imgur.com/98r0NCO.png)

[2016-09-27 06:11] Policeboy109 commented on #38
Hmm I tried it 3 times I'll try again

[2016-09-27 21:26] Kei-Shin opened #39 "Unable to startup server"
I created a wrapper and server like you normally would however when I went to the control panel and pressed the start button nothing happened. I've tried using a different jar file, creating a new server, and  creating a new wrapper, looking in the files it self for some signs  _(no eula is in the folder so I also tried making a copy of the eula text file and setting it to true and nothing changed

[2016-09-28 19:23] Policeboy109 commented on #38
ok finally got it working but it wont let me click start

[2016-09-28 19:51] TunkDesign commented on #39
This should now be fixed. One of the required files appeared to be corrupted after an update. Sorry for this!

[2016-09-28 19:51] TunkDesign commented on #38
This should now be fixed. One of the required files appeared to be corrupted after an update. Sorry for this!

[2016-09-29 00:19] Kei-Shin commented on #39
Yep everything is fixed thanks!

[2016-09-29 00:19] #39 closed

[2016-09-30 15:42] gpago opened #40 "Minecraft Server IP issue"
#37 Not sure I would call this a bug, but I think the wrapper should be assigning the private machine IP to the minecraft server config file. I've always done that. Currently I'm hosting a VPS on Scaleway and the wrapper assigned the public IP to the server.properties files, which made the server unable to start.
Not sure if that's intended.
Also, non of the server.properties values match up to th

[2016-10-01 21:01] Simon-Schwartz commented on #37
Hello again!

Sorry about my late reply. To remove the wrapper I added two-factor authentication to my account. Now, however, I appear to be locked out of my account and the key that is generated on the google authenticator app on my phone is not working...

Any thoughts?

Thanks,
-Owen Schwartz

[2016-10-08 16:35] TunkDesign commented on #37
Sorry for the, somewhat, late reply.

That's really weird, I just tested turning Two-factor authentication on for my account, and there's no issues there. (Tried logging in as well)

Let me know if I should disable it for your account, so you can try again! :)

[2016-10-08 16:59] Simon-Schwartz commented on #37
If you could disable it, that would be great! I'll try to set it up again.

I don't know what happened... Maybe I messed up the setup? I used the Google Authenticator app on my Andriod phone to scan the code. I had some trouble after that, as it kept generating new things to verify even after I put one of them in... On a restart of my phone, however, it started generating the codes for the login.

[2016-10-08 17:16] TunkDesign commented on #37
I have now disabled it :)

That's really weird. I've tried mutliple times on multiple devices and I've never had any issues. Hmm...

No worries, I don't have better things to do hahah! I try to be as active as possible, but with life getting in the way recently, I have not been able to be as active as I'd like. Still having a go at fixing all the issues you listed though :)

[2016-10-08 17:30] Simon-Schwartz commented on #37
Success! I did the setup process again and I got it to work.

The first time I tried logging in I got the same error (I did not copy it, sorry!) However, after waiting for another code to generate, it worked.

Thanks for your help,
-Owen Schwartz

P.S. I just realized that I have been posting on two different accounts. One is an account for my "server." Sorry if that was confusing!

[2016-10-08 17:40] TunkDesign commented on #37
Awesome! Glad it worked! :D

That would have been confusing as heck, but you keep signing your name, so that definitely helped! :)

[2016-10-13 20:01] Kei-Shin opened #41 "Two-Factor Authentication Bug"
I entered my email and password and clicked sign in afterwards im given the prompt to enter in my 6 digit code given by the app which I did but was told I am incorrect after double checking if I was incorrect which it seems im not. I don't know if this just user error or an actual bug but either way I am unable to log in.

[2016-10-15 06:38] TunkDesign commented on #41
Hey @Kei-Shin, sorry for the late reply!

I have now disabled Two-Factor Authentication on your account, please try to enable it again.
I will see if there's some syncing issues somewhere. It's a bit hard to test this, so it is good that you're reporting it.

If you still have this issue after the second try, please let me know!

[2016-10-16 04:03] Kei-Shin commented on #41
I re enabled it and it gave me two NeManager tabs on the authentication app. The tabs give the same code each time but I figured it would be worth noting.

I also was able to log into my account now.

[2016-10-16 04:13] Kei-Shin opened #42 "Wrapper to Panel connection issue?"
I cant seem to access the wrapper while on the dashboard it says the wrapper is online but upon selecting a server it states in the pop up "connection lost" before moving to "Still connecting"  with a new pop up replacing the old one. In the background below the files tab of the server it has a error briefly shown labeled "Error: undefined"
![nemanager error](https://cloud.githubusercontent.com/as

[2016-10-19 13:43] kevinvanberlo opened #43 "CPU usage wrong value"
The CPU usage keeps rising slowly till 100%, this value is different from the actual CPU usage.

[2016-10-27 04:46] hammondb4 commented on #42
I have the same error. I can create the wrapper and in the wrapper console in my desktop I see when I create the server via online panel. When I try to connect from the dashboard pop up shows "Still connecting" and that's all. Connection it's not a problem because the wrapper is really connected. Maybe we need to redirect another port?

[2016-11-08 05:04] Sunlis opened #44 "Paid for Professional, not given access to it"
(I know this isn't a great place for account-related questions, but I also couldn't find a way to submit a ticket other than creating an Issue here)

I paid for NeManager on October 25 and got an email receipt, but can't access any of the pro features. I'm even getting ads at the top of each page. Is there someone I can email to rectify this?

[2016-11-09 17:53] TunkDesign commented on #44
Sorry for the late reply, @Sunlis!

I have gone ahead and upgraded your panel. This is really weird, and I don't know why it is doing this. I need to look into it more. Could you please let me know the Fingerprint that was sent with the receipt? Thank you :)

[2016-11-09 18:06] Sunlis commented on #44
evt_198YO4L6dJ4xQIPq2LnuycJ8

[2016-11-20 04:03] mookie1097 opened #45 "cannot type into command bar when server is loading, even if it needs confirmation"
https://gyazo.com/c466da39e265c65e7c91818d9a71578f
this can be avoided with command line arguments, but should be changed.

[2016-11-20 09:33] TunkDesign commented on #45
Thank you for reporting this!
I've never encountered something that requires response during startup before, so I didn't have that in mind when designing the console. Will definitely look into it!

[2016-11-20 09:35] TunkDesign commented on #43
Sorry for the very late response!

What operating system did you run NeManager on? So I can do some testing!
Thanks :)

[2016-11-20 09:38] #38 closed

[2016-11-20 09:40] TunkDesign commented on #35
I am taking the silence as a confirmation that you no longer have this issue. Please reopen if you still have issues. Thank you.

[2016-11-20 09:40] #35 closed

[2016-11-20 09:42] TunkDesign commented on #32
This can now be achieved by enabling Two-Factor Authentication. After you've enabled TFA, you get the option to remove disconnected wrappers without having access to them. Thanks for the suggestion! :)

[2016-11-20 09:42] #32 closed

[2016-11-20 13:23] TunkDesign commented on #36
This was fixed a while ago, but I forgot to update this issue. (https://github.com/TunkDesign/NeManager/commit/bbb0c54c1345b1a409e083e4cfc97ac4da1ebb5b)

[2016-11-20 13:23] #36 closed

[2016-11-20 13:28] TunkDesign commented on #41
This should no longer be an issue. Possible cause https://github.com/TunkDesign/NeManager/commit/059177100bbf37b3b67f82204baf2f3c9364b811

[2016-11-20 13:28] #41 closed

[2016-11-25 18:14] Sunlis opened #46 "Can't cancel pro subscription"
What looks to be a db error is shown when I try to cancel my pro subscription.
https://imgur.com/6Lj6UaW

[2016-11-27 04:59] Destarianon opened #47 "Can't force stop server"
Due to issues with Java selecting the wrong JVM i've had several servers fail to start. This made the dashboard completely unusable until I restarted the wrapper directly. The system does not realize that the server is not starting and leaves it in a starting state perpetually, and when I attempt to force stop the server (the only button that is clickable in that state) it loses connection and jus

[2016-11-27 05:13] Destarianon commented on #47
A similar issue occurs because NeMa doesn't include libraries required to start a forge server, and it fails to start without those libraries. The wrapper becomes completely unresponsive and the dashboard doesn't even see it.
![image](https://cloud.githubusercontent.com/assets/6621236/20645780/8b12b90c-b42d-11e6-9def-88a0a9418ae5.png)
Despite the wrapper not showing anything that seems like it's b

[2016-11-27 13:20] TunkDesign commented on #47
Thank you for the very detailed bug report! I will put this on top of the TODO list, as it needs to be fixed as soon as possible. I'll take a look at it soon!

[2016-12-16 20:50] frigomanu commented on #17
The same hapends to me. I closed and reopen my server ports but nothing hapends, the error message keeps on appearing when I press "add"

[2016-12-17 09:21] TunkDesign commented on #17
@frigomanu You need to open the NeManager ports as well! (20000 and 20021) Otherwise the website can't contact your computer. Hope that helps!

[2016-12-17 14:52] frigomanu commented on #17
That helps a lot. You should write in the getting started page of the wiki (https://github.com/TunkDesign/NeMa/wiki/Getting-Started)

[2016-12-25 20:40] ZachTheDev opened #48 "BungeeCord Support"
Love the wrapper! But I was wondering if you could add support for a BungeeCord server. Right now it does not work well with your wrapper. Thanks! If you need anymore info then just ask.

[2016-12-26 03:16] AtomicFall opened #49 "Wrapper having issue connecting to Dashboard"
It seems the dashboard is having issues picking me up.
 Did a port check and WWW can see port 20000 and 20021.

It looks like your server is the one closing the connection before it comes up in the dashboard.

Windows server. Version 2.1.3

[NeMa.zip](https://github.com/TunkDesign/NeMa/files/672477/NeMa.zip)
[packet_capture.zip](https://github.com/TunkDesign/NeMa/files/672475/packet_capture.zip)

[2016-12-26 18:12] TunkDesign commented on #49
You clearly have everything setup correctly as the panel could talk to the wrapper. There's nothing wrong with our connection either.

This happens so randomly it is very hard to find the cause of it. I am guessing you're getting the "Connection lost!" popup when this happens?

I can't reproduce it myself, but it is clearly an issue, as not only you get it. To tell you the truth, I don't even know

[2016-12-26 18:15] TunkDesign commented on #48
We had it before, but had to disable it due to it being very unstable. Will look into adding it again! We definitely need it!

[2016-12-26 19:39] AtomicFall commented on #49
I dont know the packet flow for the software transmissions ((im a network engineer by trade)) but looking at the packet cap and the log it looks like that somewhere mid setup it looks like the server either A) doesnt receive a specific packet from the wrapper ((see last two packets in packet cap needing retransmit)) and this the server shuts down the connection or B)something happens server side I

[2016-12-26 19:40] Zangoran commented on #48
@TunkDesign Awesome! Thanks! Just let me know when you add it! Looking forward to it!

[2016-12-29 20:49] Robospot commented on #49
I am having a similar issue. However I found that my router was blocking the pings and communications to the computer. My router is a Belkin AC1200 Dual-Band Gigabit Router (model# F9K1113 v5). The router does have an antivirus program, which is disabled, and a firewall. The pings were classed as POGs (Ping of Death) causing all other communications from the IP to be blocked. You could move the "a

[2016-12-29 20:54] Robospot commented on #49
Update:
After disabling the firewall, WAN Ping Blocking, IMPC Ping Blocking, and setting up a port forward to my computer on port 20000 (The Protocol was bothe TCP and UDP) I was able to connect the wrapper to the online interface.

[2016-12-29 23:12] AtomicFall commented on #49
Well dang. Disabling the my firewall just isnt an option for me. I host VMs
for some customers out of my apt.

On Thu, Dec 29, 2016 at 2:54 PM, Robospot <notifications@github.com> wrote:

[2016-12-30 06:22] Robospot commented on #49
Perhaps just port forwarding would work for you. As long as the pings from the main server are not marked and blocked by your router/network switch you should be good. You could also white-list all the IPs and/or MAC addresses related to their service.

[2017-01-01 06:44] Robospot opened #50 "Two-Factor Authentication Not Working"
My account is under the email address robospot2000@gmail.com
After enabling two-factor authentication I have not been able to get into my account. I only enabled it to remove a test wrapper from the panel (which I was also not able to do). Could you please disable two-factor authentication on my account and remove the wrapper on my dashboard. Thanks.

[2017-01-01 11:45] TunkDesign commented on #50
I'll have to check the syncing server again to make sure TFA works.

I have now disabled TFA on your account and removed the test wrapper! Sorry for the inconvenience!

[2017-01-01 11:45] #50 closed

[2017-01-01 15:03] TunkDesign commented on #49
Sorry for the somewhat late reply, but is whitelisting an option?
I'd feel bad to force you to disable your firewall completely.

NeManager might trigger your security because WebSockets are still "quite new" (Not really, but it isn't very known). It keeps the connection open when you access the panel, and is set to send data back and forth every 0.1 second. That could be the trigger!

If you have

[2017-01-01 17:55] Robospot commented on #49
I found that I could just port forward the ports 20000 and 20021 and it would be able to connect. However I have not been able to do anything with the server through the panel, something about not being able to connect. Finally, you might need have the local program initiate the ping to your servers as well as control the start, stop, and restart functions of the server. This could (fingers crosse

[2017-01-01 18:12] Robospot commented on #49
It is also possible that the location of the file plays a bigger roll in this as well. For example I put the folder for this in my documents. Thinking about it though, my documents is usually protected from outside interaction, modification, or even viewing. You may need to actually install the program it is always located in the same location and so windows views it as a program and thus gives mo

[2017-01-01 18:12] Robospot commented on #50
Thanks

[2017-01-01 19:17] TunkDesign commented on #49
@Robospot, I have done quite a lot of changes to the WebSocket class of the panel, which should make the connecting part better. I have yet to publish that update. Still need to go through the live-feed part of the panel, which is causing a lot of issues (apparently). I have the PHP part of WebSockets all figured out. It's the JavaScript part that is a bit tricky, which is weird (Should be the oth

[2017-01-01 20:35] Robospot commented on #49
Maybe have the wrapper convert the JavaScript live feed to another format that can be more easily dealt with or an RSS feed.

[2017-01-02 18:35] TunkDesign commented on #49
@Robospot Sorry, I'll try to explain it better.

The wrapper is essentially just a WebSocket server, and the panel needs two connection stages for it to work the way I intended.
&nbsp;&nbsp;&nbsp;The first stage being the panel backend (done behind the scenes with PHP). Which is the stage that makes the handshake to confirm that you are allowed access to that wrapper and to make sure everything is

[2017-01-27 03:54] DaExoKay opened #51 "Panel being blocked"
Dead NeMa Team,

When I tried to add a self-built modpack and BungeeCord to NeMa, the wrapper-links became unusable. They simply claimed the wrapper did not exist (ports checked twice!).

When I added a new wrapper, and changed the port the issue was resolved. Now my panel is filled with two unused wrappers (including servers) which prevents me from proper configuration of my system. Could you ple

[2017-01-28 00:05] Breadcrust opened #52 "Jar File drop down empty"
I am running Windows 10 (Not server) and I have created a launchable ZIP using the instructions in the Wiki however the ZIP doesn't appear in the drop down. Help!

[2017-01-28 08:34] TunkDesign commented on #52
Sorry for the confusion!

This feature exists, but has not yet been released. The Wiki page was written in advance!
If you check the top of the Wiki page, you'll see this little message:

This will be released soon! I just haven't had the time to release it! :(
Once again, sorry!

[2017-01-28 08:39] TunkDesign commented on #51
I see you have successfully removed them! Good :)

In the future, just enable [Two-Factor Authentication](https://github.com/TunkDesign/NeMa/wiki/Rundown#two-factor-authentication) and you should be able to remove them :) (I am guessing you already did this hahah)

[2017-01-28 08:39] #51 closed

[2017-01-28 20:50] TunkDesign commented on #52
This release has now been published! Have fun :)
https://github.com/TunkDesign/NeMa/releases/tag/v2.2.0

[2017-01-28 20:50] #52 closed

[2017-01-28 20:52] TunkDesign commented on #47
The latest release of NeManager should fix these issues!
https://github.com/TunkDesign/NeMa/releases/tag/v2.2.0

If these still continues, please reopen!

[2017-01-28 20:52] #47 closed

[2017-01-30 08:48] Breadcrust opened #53 "Constant Python Error in Wrapper Window"
Constantly my wrapper window is updating with

[code]

My log states:

`[1554 | ERROR | 30/01/2017 08:42:37 AM] Received invalid status response packet.
[1554 | ERROR | 30/01/2017 08:42:37 AM] Received invalid JSON.`

This issue has only come to light since updating to 2.2, I am using Windows Server 2016 but this bug is also present on Windows 10.

[2017-01-30 08:50] Breadcrust commented on #40
I too have seen this, every time I edit a parameter in the Server Config tab such as server name or port it appends the IP to the server-ip field in the server.properties and causes the server to fail to start. It'd be nice if this could be toggled off.

[2017-01-31 01:58] Breadcrust commented on #43
Same issue, Windows 10 and Server 2016.

[2017-02-13 10:41] DaExoKay opened #54 "Creating a SkyFactory 3 Server"
Hey there!
I have tried many times but Sky Factory 3 just cannot be used with the wrapper.
Somehow, additional Java flags cannot be integrated into the startup script.

If I try to add additional "Startup arguments" I receive the following error, whatever I type in:

The Server simply does not start and claims, mods are missing (which isn't the case, the Server alone starts if I use the appropriat

[2017-02-14 18:09] TunkDesign commented on #54
Sorry for the late response!

Keep [this [Server Creation: ZIP Files]](https://github.com/TunkDesign/NeMa/wiki/Server-Creation:-ZIP-Files) in mind when creating a modded server, as they generally require more than just a single file to run.

If you look in the NeManager log file, you'll see that NeManager actually generate the launch command itself. That's why the "startup arguments" part is optio

[2017-02-15 22:45] DaExoKay commented on #54
Thank your for your reply!
I have tried all the steps but get the following error upon starting the server:

I have tried to unarchive the respective .jar files and remove the META-INF as that has caused some trouble in the past but still no success. It seems like NeMa doesn't recognise the file. I have already double checked permissions..

Any suggestions?

[2017-03-05 00:14] Taliel81 opened #55 "Wrapper crash/exception due to scheduled restart"
Error displayed in the wrapper:

I had used the scheduling wizard to setup a nightly restart at 3am if the server is empty. It is listed on the schedule page as `0 3 * * * action restartempty`

[2017-03-26 01:05] dustinduse commented on #49
Similar problem. When setting up Servers the control panel sees the wrapper. Connection shows fine allows setup. Wrapper confirms the creation.. Went back to edit server I get this "Empty read; connection dead? Stream state: {"stream_type":"tcp_socket\/ssl","mode":"r+","unread_bytes":0,"seekable":false,"timed_out":false,"blocked":true,"eof":true}"
Trying to view the server dashboard i see the same

[2017-04-21 18:56] TunkDesign commented on #45
This was included a while back, so I am now marking this as solved. Thanks for the suggestion :)

[2017-04-21 18:56] #45 closed

[2017-04-21 19:00] #30 closed

[2017-04-21 19:03] TunkDesign commented on #46
Closing and marking this as invalid as I can not seem to reproduce it. I know this issue was posted quite a while ago, but if you still can't cancel your subscription let me know and I'll do it for you. Thanks :)

[2017-04-21 19:03] #46 closed

[2017-04-21 19:07] TunkDesign commented on #37
Most, if not all of these issues has now been solved. Marking as solved and closing it! Thanks for the report :)

[2017-04-21 19:07] #37 closed

[2017-04-21 19:12] TunkDesign commented on #24
The bridge between the panel and the wrapper has since been reworked. I am marking this as solved and closing it. If this is still an issue, please open again. Thanks :)

[2017-04-21 19:12] #24 closed

[2017-04-21 19:12] TunkDesign commented on #20
The bridge between the panel and the wrapper has since been reworked. I am marking this as solved and closing it. If this is still an issue, please open again. Thanks :)

[2017-04-21 19:12] #20 closed

[2017-04-22 13:53] TunkDesign commented on #53
The traceback you're seeing is the wrapper failing to write to the log file. This usually happens when the wrapper either doesn't have permission to write to the log file or something else is using/reading it. This is almost always fixed by running NeManager as an administrator!

The log error you're seeing is related to something completely different though. That error belongs to the internal pin

[2017-04-22 13:53] #53 closed

[2017-04-22 14:25] TunkDesign commented on #26
Closing this and marking it as invalid as I can't replicate it without proper information. If this is still an issue, please let me know! :)

[2017-04-22 14:25] #26 closed

[2017-07-12 07:46] Jager67 opened #56 "Running Windows Server"
I'm running the windows server version of this program and when on the dashboard "start and restart" works just fine but when I hit "stop" the start button becomes un-clickable and I have to close NeMa.exe and reopen the application just to start the server again.

Is there something I'm missing on how to set this up or is this a bug?

Here are the print screens in order of the steps I have to tak

[2017-07-12 08:04] TunkDesign commented on #56
Thanks for the report @Jager67! Could you please let me know what modded server software you are running? I think I know what the issue is, I just need to do some testing :)

[2017-07-12 10:05] Jager67 commented on #56
Yeah I was trying to use FTB Direwolf20 1.10 newest version of the pack using forge to start the server.

[2017-07-12 11:20] Jager67 commented on #56
Also I'm trying to run an "All the Mods Expert Mode" server and the server doesn't seem to start but if I run the server without the program the server boots up without an issue.

Hate to feel like I'm just complaining sorry... But I do love your work it is exactly what I'm looking for!

[2017-12-11 15:57] notonewith opened #57 "Unable to use Stop/Start/Restart/Force Stop on my server"
None of the actions will work. I server has crashed and my school blocks ssh, so I thought i'd just use my console. I cannot use any buttons, including the Force Stop function.

[2017-12-11 17:22] TunkDesign commented on #57
Hey @notonewith!

I'll need some more information to be able to do some troubleshooting for you! Let's start with a simple question! On the console page, at the top, does it show an error? (See image below)
![](https://i.imgur.com/jyoP5Uo.png)

While we're at it, what operating system are you running the wrapper on, and what Minecraft server version are you using?

Thanks :)

[2017-12-11 18:03] notonewith commented on #57
Hello @TunkDesign, thank you for the quick reply. I am unable to check for errors, as my server is offline (I turned my VPS off after the error occurred, because I cannot SSH at school) I am running the Wrapper on a Debian 9.2. My Minecraft server was/will be running Paper Spigot version 1.12.2. IIRC, when the error occurred, there was no visual error on the panel.

----- On Dec 11, 2017, at 12:22

[2018-01-07 01:55] AAIDev opened #58 "/bin/sh: 1: Syntax error: "(" unexpected"
So I just got NeMa for my ubuntu 16.04 server and had no problems installing it.  I then added a jar file and created a server.  Whenever I try to start it through the dashboard, it says
`
/bin/sh: 1: Syntax error: "(" unexpected`
Please fix this.  I really want to use NeMa for my minecraft server.  My screenshot is at [http://prntscr.com/hx2cou](http://prntscr.com/hx2cou).  Thank you!

[2018-01-09 02:47] AAIDev commented on #58
Wow no response yet???

[2018-01-09 08:34] TunkDesign commented on #58
@AAIDev Very sorry! I never got an email notification the first time! 😟

What does the NeManager log say? I've never encountered an error like this before!

Again, sorry for missing this.
Kind regards!

[2018-07-03 16:28] RestaBuilds opened #59 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xef in poition 17: ordinal not in range(128)"
![image](https://user-images.githubusercontent.com/24626384/42232357-03f3e058-7ea3-11e8-8ea2-054b2debbd6d.png)
OS: Windows Server 2012 r2
i set encoding in config to utf-8 and UTF-8, its not help

[2018-09-29 23:40] anders-brolien opened #60 "Restore from backup"
Nothing happens when trying to restore from backup. I have three different backups for one world. Should restore be run when server is running? Where are the backups stored?

[2018-09-30 14:55] TunkDesign commented on #60
Hey @anders-brolien! Have you checked the NeManager.log file for information on as to why nothing is happening? If there is an error in there, please let me know :)

If the server is running when restoring a backup, NeManager will turn the server off, before continuing restoring!

The backup files should be located in a folder called "backups" in the NeManager root directory :)

Hope this answered

[2018-09-30 21:13] anders-brolien commented on #60
Hej!
The NeMa.log was empty, where running a dockerized deployment. Unclear where the log files went. Changed that now.
However there we backups listed on the webpage, but none in the backup directory.
Pressing restore did nothing. Luckily enough I was able recover the world by other means.
Thanks for a useful product!

/anders

[2018-10-01 14:29] TunkDesign commented on #60
@anders-brolien weird! I've never tried to run NeMa inside docker before! It shouldn't make any difference however, which is weird. I'll make sure to run some tests inside Docker when I have time! :)

Tack för din felanmälan! Nu vet jag vad jag ska hålla utkik efter hahah :)

[2019-06-21 14:58] SmuleChez opened #61 "Unable to start server"
When I try to start up my server, i get the same error every time, and reinstalling NeMa does not seems to fix the issue.

Starting MineCraft Server..
Exception in thread Thread-4:
Traceback (most recent call last):
  File "/TunkDesign/Build/NeMa/build/NeMa/out00-PYZ.pyz/threading", line 810, in __bootstrap_inner
  File "/TunkDesign/Build/NeMa/build/NeMa/out00-PYZ.pyz/threading", line 763, in run

[2019-06-22 18:47] TunkDesign commented on #61
Hey @SmuleChez!

Could you please post the contents of the Nema.log file?
Also, what operating system are you using?

Thanks :)

[2019-06-22 19:36] SmuleChez commented on #61
Hello! I am using Ubuntu server 19.04 for my OS, here is what is in the log file.
Thank you for the help!

[1615 | INFO | 20/06/2019 07:05:22 PM] *******************************
[1612 | INFO | 20/06/2019 07:05:22 PM] * New Wrapper Session Started *
[1612 | INFO | 20/06/2019 07:05:22 PM] *******************************
[1612 | INFO | 20/06/2019 07:05:22 PM] Checking if we should fix something befor

[2019-06-23 12:55] TunkDesign commented on #61
Strange...! The log tells me that the server was started.

What happens if you run the server the normal way? Does it stay online, or die as in your issue?

[2019-06-23 14:14] SmuleChez commented on #61
With out the wrapper the server runs perfectly fine, it will run for hours without any issue

[2019-06-23 17:36] TunkDesign commented on #61
Any mods/plugins? Regular minecraft? I'd like to do some testing :)

[2019-06-23 19:24] SmuleChez commented on #61
It is completely vanilla minecraft server, I have no plugins or mods, Thanks!

[2020-09-11 20:42] #48 closed

[2021-02-03 19:18] frigomanu opened #62 "How do I change my account password?"
I would like to know how to change my password for panel.nemanager.com.
I can't seem to find the option in panel.nemanager.com/account.
thanks for the help

[2021-11-04 01:07] InfinityOfficialNetwork opened #63 "CSRF won't let me do anything"
This is the ***worst*** designed website on the ***planet***, I have to use the ***freaking tor browser*** just to log in, ***nothing*** will work, please ***fix soon.***
UPDATE 001: ***No one*** has fixed this ***"website"*** and it is still broken
UPDATE 002: For any one that asks, I am using ***Microsoft Edge***, not ***Internet Explorer***

[2021-11-05 06:25] TunkDesign commented on #63
Hey there!

I'm sorry that you think that, but I will look into it. I only just got this notification, so no-one has even had the time to look into it yet.

I think that Microsoft Edge might have been overlooked during development, due to system administrators usually use something else! However that's not a valid excuse! I'll see what we can do!

[2022-01-16 13:54] #62 closed

[2022-01-16 13:54] #60 closed